*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    color: white;
    font-size: 80px;
}

body{
    background-image: linear-gradient(120deg, #A43820 0%, #F1D3B2 100%);
    display: flex;
    row-gap: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

p{
    font-size: 18px;
    color:#46211A;
    margin-bottom: 4px;
}

.tip-calculator{
    height: 100%;
    width: 400px;
    padding: 16px;
    border-radius: 26px;
    background-color: white;
}

.bill-input{
    padding: 8px;
    display: flex;
    column-gap: 12px;
    border-radius: 4px;
    background-color: #f3f8fa;
}

input{
    width: 100%;
    outline: 0;
    border: none;
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 26px 16px;
    background-color: #FBEAEB;
}

.tip-buttons{
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tip-button{
    width: 70px;
    height: 35px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #46211A;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.total{
    font-size: 18px;
    color: #46211A;
    margin-bottom: 4px;
}

#reset-button{
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}